@font-face {
  font-family: "Mazius";   /*Can be any text*/
  src: local("MaziusRegular"),
    url("./font/MaziusRegular.otf") format("truetype");
}

@font-face {
  font-family: "NeutralFace";
  src: local("NeutralFace"),
    url("./font/NeutralFace-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Avenir";
  src: local("Avenir"),
    url("./font/AvenirNextLTPro-Regular.otf") format("truetype");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

*{
  font-family: 'Roboto';
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
